<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>

.content{
  width: 300px;
  text-align: center;
  background-color: #7f7f7f;
  overflow-wrap: break-word;
  transform: scale(2);
}
  ul{
    list-style: none;
    padding: 0;
  }
  li{
    text-align: center;
  }
  li #aha{
    width: 600px;
  }
</style>
<body>

<div class="content">
 sdlfksjdlfkjsldfjlskdfjsdlfksjdlfkjsldfjlskdfjsdlfksjdlfkjsldfjlskdfjsdlfksjdlfkjsldfjlskdfjsdlfksjdlfkjsldfjlskdfjsdlfksjdlfkjsldfjlskdfjsdlfksjdlfkjsldfjlskdfjsdlfk数量都快来
    上课的法律思考的法律思考的减肥路上看见到了疯狂就是懒得开飞机离开的解放路
    时代峰峻路上看见对方立刻睡觉了都快放假了深刻的法律上看到就发了康师傅
</div>
</body>

</html>
