<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
#aha{
  width: 250px;
  height: 300px;
}
#hehe{
  width: 300px;
}
.content{
  text-align: center;
}
  ul{
    list-style: none;
    padding: 0;
  }
  li{
    text-align: center;
  }
  li #aha{
    width: 600px;
  }
</style>
<body>
<div>
  <img id="aha" src="../assets/1.jpg">
  <img id="hehe" src="../assets/1.jpg">
</div>
<div class="content">
  <img id="aha" src="../assets/1.jpg">
</div>
<ul>
  <li>
    <img id="aha" src="../assets/1.jpg">
  </li>
</ul>
</body>

</html>
